<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find ros_donkey)/config.yaml" />

  <node name="donkey_actuator" pkg="donkey_actuator" type="donkey_actuator_node" />
  <node name="donkey_joy" pkg="donkey_joy" type="donkey_joy_node" />
  <node name="raspicam_node" pkg="raspicam_node" type="raspicam_node" />
</launch>
