<?xml version="1.0"?>
<launch>
  <!-- args -->
  <arg name="bag" />
  <arg name="model" />
  <arg name="base_model" default="" />

  <!-- params -->
  <rosparam>
    donkey_keras_train:
      bag_topics:
        - /raspicam_node/image/compressed
        - /donkey/drive
      batch_size: 128
      sample_freq_hz: 30.0
      train_test_split: 0.8
      X_keys:
        - raspicam_node_image_compressed__data
      y_keys:
        - donkey_drive__twist_angular_z
        - donkey_drive__twist_linear_x
  </rosparam>

  <!-- nodes -->
  <node name="donkey_keras_train" pkg="donkey_keras" type="donkey_keras_train_node" output="screen">
    <param name="bag_path" value="$(arg bag)" />
    <param name="new_model_path" value="$(arg model)" />
    <param name="base_model_path" value="$(arg base_model)" />
  </node>
</launch>
